/* Fonts for website */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* Header Styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title,
.facts-heading {
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    color: var(--Dark-02, #424242);
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner styles */

.banner-content {
    max-width: 800;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 65px;
    font-weight: 700;
}

.banner-descriptrion {
    color: #727272;

}

.btn-primary {
    padding: 20px 25px;
    color: #fff;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.banner-image {
    margin-top: 50px;
    width: 100%;
}

/* Main section styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* Teams Section Style */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-cotent {
    margin-left: 70px;
    margin-right: 70px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.of-our {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.teams-heading {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.teams-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

/* Facts section design */

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;

}

.facts-card-container .card-stats {
    color: #424242;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-title {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}


/* Responsive media queries */
/* Mobile Devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-cotent {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* Tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

}